.Button {
    font-size: 0.9rem;
    font-weight: 600;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin: 5px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #001b48 !important;
  }
  
  .Button:active {
    background-color: #001b48 !important;
  }
  
  .Button:focus {
    background-color: #001b48;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover{
    background-color: #018abe;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    /* border: 1px solid #001b48; */
    background-color: #001b48;
    color: #ffffff;
  }
  
  .Black,
  .BlackOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #018abe;
    color: rgb(255, 255, 255);
  }
  
  .Black:hover,
  .BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: #001b48;
    color: #ffffff;
  }
  
  .Bright {
    background-color: #018abe;
    color: #ffffff;
  }

  .Bright:hover {
    background-color: #001b48;
    color: #ffffff;
  }